@import '../../styles/constants.scss';

.item-card{
    padding: $padding-1 0px $padding-1 0px;
    background-color: white;
    width: -webkit-fill-available;

    &__box{
        display: flex;
        flex-direction: row;
    }

    &__information{
        align-self: center;
        text-align: left;
        width: 80%;
    }
    
    &__picture{
        object-fit: contain;
        height: 180px;
        width: 180px;
        border-radius: 4px;
        padding: 0px $padding-1  0px $padding-1;
    }

    &__price{
        font-size: 24px;
        padding-bottom: $padding-2;
    }

    &__title{
        font-size: 18px;
    }

    &__free-shipping{
        &_desktop{
            align-self: center;
            display: none;
            @media (min-width: 680px) {
                display: flex;
                text-align: right;
            }
        }
        &_mobile{
            align-self: center;
            display: flex;
            color: $blue;
            @media (min-width: 680px) {
                display: none;
                text-align: right;
            }
        }
        
        
    }
}

hr {
    width: 95%;
    background-color: $grey-light;
    border-color: transparent;
}