@import '../../styles/constants.scss';

.header{
    background-color: $yellow;
    padding:   5px 0px;

    @media (min-width: 680px) {
        padding:  $padding-1 0px;
    }

    &__box{
        align-items: center;
        display: inline-flex;
        width: 90%;
    }

    &_logo{
        padding-right: 8px;
    }
}