/* Colors */
$yellow: #FFE600;
$black: #333333;
$grey-dark: #666666;
$grey-medium: #999999 ;
$grey-light: #EEEEEE;

/* Padding */
$padding-1: 16px;
$padding-2: 32px;

/* Font Size */
$font-size-1: 14;
$font-size-2: 16;
$font-size-3: 24;
$font-size-4: 28;
$font-size-5: 46;


