@import '../../styles/constants.scss';

.basic-form{
    display: flex;
    flex-direction: column;
    width: 90%;

    @media (min-width: 680px) {
        width: 20%;
    }

    &_label{
        padding-top: 5px ;
    }
    &_input{
        padding-top: 5px ;
        padding-bottom: 5px ;
    }
    &_button{
        background-color: $yellow;
        border-color: transparent;
        border-radius: 5px;
        margin-top: 5px ;
        padding: 5px 0px 5px 0px;
    }
}